body {
  background-color: #FFFFFF;
  margin: unset;
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Noto Sans HK', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: unset;
}

#header {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header div:nth-child(1) {
  margin-right: 16px;
  width: 250px;
}

#header img {
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

#header h1 {
  font-size: 24px;
  margin-top: 3px;
}

#header p {
  margin-bottom: 8px;
}

#header {
  display: flex;
  flex-direction: row;
}

#rings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#rings .vanta-canvas {
  position: unset !important;
  width: 100%;
  height: 85vh;
}

.ring--intro {
  position: absolute;
  color: #FFFFFF;
  z-index: 1;
  margin-left: 16px;
}

.project-sec {
  margin-bottom: 32px;
}

.container-vid-des {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 400px;
  margin: 32px auto;
}

.project-description {
  width: 364px;
}

.project-description h1 {
  font-size: 24px;
}

.project-description p {
  margin-bottom: 8px;
}

.video {
  width: 360px;
  height: 225px;
  border-radius: 4px;
  margin-right: 16px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.video.wc {
  height: 204px;
}

.border-left {
  height: 241px;
  width: 30px;
  background-color: #FFFFFF;
  position: absolute;
  left: -10px;
}

.border-right {
  height: 241px;
  width: 30px;
  background-color: #FFFFFF;
  position: absolute;
  right: -9px;
}

.techstack {

}

.techstack--ul {
  display: flex;
  padding-left: unset;
  list-style: none;
  flex-wrap: wrap;
}

.techstack--ul li {
  margin-right: 8px;
  background-color: #23272A;
  color: #FFFFFF;
  padding: 4px 8px;
  line-height: 1.2;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 4px;
}

.link-container {
  margin-top: 12px;
}

.link-container > * {
  margin-right: 8px;
}

.link-container a {
  color: #23272A;
}

.link-container a:hover {
  color: #2980b9;
  cursor: pointer;
}

.sec-label {
  font-size: 24px;
  text-align: center;
  margin: 32px 0px;
}

.sec-description {
  width: 500px;
  margin: 0px auto;
  margin-top: 16px;
}

#demo-body {
  background-color: #23272A;
}

.demo-card {
  width: 800px;
  margin: 32px auto;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.video-demo {
  border-radius: 2px 2px 0px 0px;
  width: 100%;
}

.demo-card-description {
  padding: 16px;
}

.demo-card-description p {
  margin: 8px 0px;
}

.demo-card h1 {
 font-size: 24px;
}

.demo-card h2 {
 font-size: 18px;
}

.techstack .techstack--ul {
  margin-top: 8px;
}

.back-btn {
  width: fit-content;
  position: fixed;
  margin-left: 16px;
}

.back-btn:hover {
  cursor: pointer;
}

.back-btn i {
  color: #FFFFFF;
}


/* video demo media query */
@media only screen and (max-width: 832px) {
  #demo-body {
    background-color: unset;
  }
  .demo-card {
    border-radius: unset;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    box-shadow: none;
  }
  .video-demo {
    border-radius: unset;
  }
  .back-btn {
    display: none;
    position: unset;
    margin-left: unset;
  }
  .back-btn i {
    color: unset;
  }
}
/* video demo media query */

@media only screen and (max-width: 550px) {
  #header {
    flex-direction: column;
    padding: 0px 32px;
  }
  #header div:nth-child(1) {
    width: 100%;
  }
  .sec-description {
    width: unset;
    padding: 0px 16px;
  }
  .container-vid-des {
    flex-direction: column;
  }
  .project-vid {
    margin: 0px auto;
  }
  .project-description {
    margin: 0px auto;
    margin-top: 16px;
    padding: 0px 16px;
  }
}

@media only screen and (max-width: 850px) {
  .container-vid-des {
    flex-direction: column;
  }
  .project-vid {
    margin: 0px auto;
  }
  .project-description {
    margin: 0px auto; 
    width: 412px;
    margin-top: 16px;
  }
}